<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main menu</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.css">
</head>

<body>
<div align="center">
    <p>
        <h2>Biblioteka:</h2>
        <span><a href="/addUser">Zarejestruj się</a></span>
        <span>|</span>
        <span><a href="/allBooks">Wyszukaj książkę</a></span>
        <span>|</span>
        <span><a href="/addBooks">Dodaj książkę</a></span>
    </p>
</div>


</body>

</html>