<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register books</title>
        <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.css">
    </head>

    <body>
        <main>
            <form action="#" th:action="@{/register_user}" th:object="${user}" method="post">
                <fieldset>
                    <legend>Zarejestruj się</legend>
                    <label>Login:</label>
                    <input type="text" th:field="*{username}">
                    <label>Hasło:</label>
                    <input type="password" th:field="*{password}">
                    <button type="submit">Rejestracja</button>
                </fieldset>
                <a href="/home">Wróć do głównego menu</a>
            </form>
        </main>
    </body>
</html>